{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Login{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div class="container w-50 shadow p-3 mb-2 bg-body-tertiary rounded">
        <h2>Login</h2>
        <div class="mt-3">if you have not created your account yet, please <a href="{% url 'accounts:signup'%}">sign up</a> first.</div>
        {% if form.errors %}
        <div class="mt-3">Your username and password didn't match. Please try again.</div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <div class="mt-1">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</div>
            {% else %}
            <div class="mt-1">Please login to see this page.</div>
            {% endif %}
        {% endif %}

    
        <form method="post" action="{% url 'accounts:login' %}" class="mt-3">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="login" class="btn btn-success mt-1">
            <input type="hidden" name="next" value="{{ next }}">


            {# Assumes you set up the password_reset view in your URLconf #}
            <div class="mt-3"><a href="#">Lost password?</a></div>
        </form>
    </div>
    <div class="container mt-3 w-50">
        <h3>or use a third-party</h3>
        <a href="{% provider_login_url 'github'%}?next=/" class="btn btn-secondary third-party-logo">Login with Github<img src="/media/github-mark.png" alt="GitHub"></a>
        <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-secondary third-party-logo">Login with Google<img src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" alt="G"></a>
    </div>
{% endblock %}