{% extends 'base.html' %}
{% block header %}Profile{% endblock %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="d-flex justify-content-center flex-column">
<form class="mb-5" method="post" enctype="multipart/form-data" style="max-width: 400px;">
    {% if login_user.image %}
        <img src="{{login_user.image.url}}" alt="..." class="mb-3 rounded-1 profile-image mx-auto d-block border">
    {% endif %}
    {% csrf_token %}
    <div class="input-group mb-1">
        <label class="input-group-text">Username</label>
        {{ form.username }}
    </div>
    <div class="text-warning mb-3">{{ form.username.errors }}</div>
    <div class="input-group mb-1">
        <label class="input-group-text">Email</label>
        {{ form.email }}
    </div>
    <div class="text-warning mb-3">{{ form.email.errors }}</div>
    <div class="input-group mb-3">
        <label class="input-group-text">Profile image</label>
        {{ form.image }}    
    </div>
    <div class="text-warning mb-3">{{ form.image.errors }}</div>
    <button type="submit" class="btn btn-success mb-3 w-100">Update</button>
    
</form>

<a class="btn btn-secondary" style="max-width: 400px;" href="{% url 'accounts:logout' %}">Logout</a>
</div>
{% endblock %}