{% extends 'base.html' %}
{% load media_extras %}
{% block title %}About ReadEchoes{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="container py-4">

  <div class="row align-items-center mb-5">
    <div class="col-md-6 p-4">
      <p class="display-5 fw-bold">Curate your <br>self</p>
    </div>
    <div class="col-md-6">
      <img src="{% get_moodboard %}" alt="..." class="img-fluid">
    </div>
  </div>

  <div class="row align-items-center mb-5 flex-md-row-reverse">
    <div class="col-md-6 p-4">
      <p class="display-5 fw-bold">and explore your biases</p>
    </div>
    <div class="col-md-6">
      <img src="{% get_mockup_home %}" alt="..." class="img-fluid">
    </div>
  </div>

  <div class="row align-items-center mb-5">
    <div class="col-md-6 p-4">
      <p class="h3 mb-4">Post Your Reading <br>Experience</p>
      <p class="fs-5 font-monospace">
        Share your experiences with books, movies, thesis, music, articles and so on.<br>
        Don't be ashamed. We offer you a precious opportunity to improve yourself.
      </p>
    </div>
    <div class="col-md-6">
      <img src="{% get_mockup_post %}" alt="..." class="img-fluid">
    </div>
  </div>

  <div class="row align-items-center mb-5">
    <div class="col-md-6 p-4">
      <p class="h3 mb-4">Discuss Your <br>Prejudices</p>
      <p class="fs-5 font-monospace">
        Create your team and comment on posts, <br>and you'll learn more about your experiences.
      </p>
    </div>
    <div class="col-md-6">
      <img src="{% get_mockup_record %}" alt="..." class="img-fluid">
    </div>
  </div>

  <div class="text-center my-5">
    <p class="h3">Start ReadEchoes.</p>
    <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg mt-3">Login / SignUp</a>
  </div>

</div>
{% endblock %}
